<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"    
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
        http://www.springframework.org/schema/context    
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">    
    
    <context:component-scan base-package="com.demo.hunt" />    
   
    
    <!--mybitis与spring  -->
    <!-- 引入配置文件 -->  
    <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location" value="classpath:conf/jdbc.properties" />  
    </bean>  
    <!-- 数据源 -->
      <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
        destroy-method="close">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/bookmanger" />  
        <property name="username" value="root" />  
        <property name="password" value="123456" />  
        <!-- 初始化连接大小 -->  
        <property name="initialSize" value="0"></property>  
        <!-- 连接池最大数量 -->  
        <property name="maxActive" value="20"></property>  
        <!-- 连接池最大空闲 -->  
        <property name="maxIdle" value="20"></property>  
        <!-- 连接池最小空闲 -->  
        <property name="minIdle" value="1"></property>  
        <!-- 获取连接最大等待时间 -->  
        <property name="maxWait" value="60000"></property>  
    </bean>  
      <!--  
       2. mybatis的SqlSession的工厂: SqlSessionFactoryBean dataSource:引用数据源  
  
       MyBatis定义数据源,同意加载配置  
    -->  
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		 <property name="configLocation" value="classpath:conf/mybatisConfig.xml" /> 
	</bean>
	<!--  
        3. mybatis自动扫描加载Sql映射文件/接口 : MapperScannerConfigurer sqlSessionFactory  
 
        basePackage:指定sql映射文件/接口所在的包（自动扫描）  
   -->  
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.demo.hunt.mapper"/>
		<property name="sqlSessionFactory" ref="sqlSession"></property> 
	</bean>
	<!--  
        4. 事务管理 : DataSourceTransactionManager dataSource:引用上面定义的数据源  
   -->  
   <bean id="txManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
       <property name="dataSource" ref="dataSource"></property>  
    </bean>  
</beans>    