<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.demo.hunt.mapper.AdministerMapper"> 
	
	    <select id="get" parameterType="String" resultType="Administer">
	        select name name from administer  where adm_id=#{adm_id}    
	    </select>
	    
	     
	    
	</mapper>